<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="locationService" type="org.ian.location.configuration.HandleSection, org.ian.location" requirePermission="false" />
  </configSections>

  <locationService type="org.ian.location.client.BaiduMapApi, org.ian.location">
    <baidumap>
      <apiUri>http://api.map.baidu.com/geocoder/v2/</apiUri>
      <ak>aeB7RjFR2MWGFK0oeathHAUrhnT8YmGI</ak>
      <coordtype>bd09ll</coordtype>
      <pois>0</pois>
    </baidumap>
  </locationService>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>